@import "tailwindcss";

@media print {
  nav, button, form, footer {
    display: none !important;
  }
  .max-w-4xl {
    max-width: 100% !important;
    box-shadow: none !important;
    border: none !important;
  }
}