@import "tailwindcss";

@media print {
  nav, button, form, footer {
    display: none !important;
  }
  .max-w-4xl {
    max-width: 100% !important;
    box-shadow: none !important;
    border: none !important;
  }
}

@keyframes fadeIn {
  0% { opacity: 0; transform: scale(0.9); }
  100% { opacity: 1; transform: scale(1); }
}

.animate-fadeIn {
  animation: fadeIn 0.5s ease-out forwards;
}
